.table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  flex-grow: 1;
}

.header,
.row {
  display: grid;
  grid-template-columns: repeat(12, minmax(120px, 1fr));
  align-items: center;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  cursor: default;
  min-width: 1440px;
}

.header {
  font-weight: bold;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1;
}


.actions {
  display: flex;
  margin-left: auto;
  justify-content: center;
  gap: 10px;
}

.titleBar {
  display: flex !important;
  gap: 8px;
  align-items: center;
  padding: 8px;

  & > .title {
    flex-grow: 1 !important;
    margin: 0;
  }
}

.tripGroup {
  padding: 0 10px;
}